.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.display {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    font-family: monospace;
    font-size: 27px;
    background-color: black;
    color: greenyellow;
    text-align: right;
}

.key {
    border-radius: 5px;
    font-family: monospace;
    font-size: 27px;
}

.error {
    color: red;
    grid-column-start: 1;
    grid-column-end: 5;
}